/* sachin*/ 
/* ............................................Login.jsp................................................*/


.table{
	
	width:1040px;
	height:15px;
	background-color: #404040;
	/*margin: -5% 0 0 -5%;*/
	margin:auto;
	border-radius:10px;
	
}/* end black background */

.ui-content{
	width:100%;
	text-align: center;
	float:left;
}
/* this is used for all content*/
.ui-Mainbody{
	position:relative;
	text-align:center;
	font-size:14px;
	width:100%;
	margin:auto;
	margin-top:10px;
	min-width:70%;
background: #E6E7E8 url();

}/* till here*/


/*start IIT Bombay text*/
.ui-text {
    font-size: 25px; 
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    color: #9bbb59;
    margin:-20px 0 0 0px;
}
/*end IIT Bombay text*/


.ui-Login-text-username {
    font-size: 16px; 
    font-family: Calibri;
    font-weight: normal;
    color: #9bbb59;
    margin:35px 0 0 230px;
}
.ui-Login-text-password {
    font-size: 16px; 
    font-family: Calibri;
    font-weight: normal;
    color: #9bbb59;
    margin:35px 0 0 0px;
}
.ui-Login-text-remember {
    font-size: 12px; 
    font-family: Calibri;
    font-weight: normal;
    color: #9bbb59;
    
}
.ui-Login-text-forgot {
    font-size: 12px; 
    font-family: Calibri;
    font-weight: normal;
    color: #9bbb59;
    text-decoration:none;
   
}

.ui-loginbutton{
	background:#9bbb59;
	color: #9bbb59;
	height:10%; 
	width:50%;
	margin-top:30px;
	margin-right:20px;
	
	border-radius:8px;
	min-width:0.6in; 
	min-height:0.5in;
}
.ui-mainbody-img{
	margin:auto;
	padding-top:1px;
	
	
}
.ui-square {
   width: 140px; 
   height: 115px; 
   background: #9bbb59; 
   margin: 10px 0 0 16px;
}

.ui-shape-text {
    font-size: 26px; 
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    color: #e46c0a;
}
.ui-para-text{
	font-size: 14px; 
    text-align: justify;
    font-family: Calibri;
    font-weight: normal;
    color: #000000;
    width: 1040px; 
    margin:auto;
   
	
	
}

.ui-footer{
	width:1040px;
	height:60px;
	background-color: #404040;
	margin: auto;
	margin-top:105px;
	border-radius:10px;
}
.ui-footer-text{
	 font-size: 12px; 
    text-align: center;
    font-family: Calibri;
    font-weight: normal;
    color: #ffffff;
	
}


.ui-chevron { 
	position: relative; 
	text-align: center;
	 padding: 25px; 
	 
	  
	   } 
	   .ui-chevron:before { 
	   content: ''; 
	   position: absolute;
	    top: 0; 
	    left: 0; 
	    height: 40%; 
	    width: 80%; 
	    background: #e46c0a;
	     -webkit-transform: skew(0deg, 30deg);
	      -moz-transform: skew(0deg, 30deg);
	       -ms-transform: skew(0deg, 30deg);
	        -o-transform: skew(0deg, 30deg);
	         transform: skew(0deg, 30deg); 
	         margin:0px 0 0 -30px;
	         } 
	         .ui-chevron:after { 
	         content: ''; 
	         position: absolute;
	          top: 0; 
	          right: 0; 
	          height: 40%;
	           width: 80%; 
	           background: #e46c0a;
	            -webkit-transform: skew(0deg, -30deg);
	             -moz-transform: skew(0deg, -30deg); 
	             -ms-transform: skew(0deg, -30deg); 
	             -o-transform: skew(0deg, -30deg); 
	             transform: skew(0deg, -30deg); 
	           
	             }
	             
	             
	             
	             .ui-chev { 
	position: relative; 
	text-align: center;
	 padding: 25px; 
	 
	  
	   } 
	   .ui-chev:before { 
	   content: ''; 
	   position: absolute;
	    top: 0; 
	    left: 0; 
	    height: 40%; 
	    width: 80%; 
	    background: #e46c0a;
	     -webkit-transform: skew(0deg, 30deg);
	      -moz-transform: skew(0deg, 30deg);
	       -ms-transform: skew(0deg, 30deg);
	        -o-transform: skew(0deg, 30deg);
	         transform: skew(0deg, 30deg); 
	         margin:0px 0 0 -30px;
	         } 
	         .ui-chev:after { 
	         content: ''; 
	         position: absolute;
	          top: 0; 
	          right: 0; 
	          height: 40%;
	           width: 80%; 
	           background: #e46c0a;
	            -webkit-transform: skew(0deg, -30deg);
	             -moz-transform: skew(0deg, -30deg); 
	             -ms-transform: skew(0deg, -30deg); 
	             -o-transform: skew(0deg, -30deg); 
	             transform: skew(0deg, -30deg); 
	           
	             }​​