/* @Author : rajavel, Clicker Team, IDL lab - IIT Bombay
   This file is used to design the report dash-board 
*/
.notebox{
	background-color: #fff;
	height: 130px;
	width: 120px;
	margin-left: 10px;
	float: left;
	cursor: pointer;
}

.notebox .boxhead{
	padding:10px 0px 10px 0px;
	font-size: 13px;
	font-weight:bold;
	border:1px solid #fff;
	border-bottom: 4px solid #fff;
	border-radius:10px;
	background-color: gray;
	color:#fff;
	text-align: center;
}

.notebox .boxnote{
	font-size: 60px;	
	padding:10px 0px 10px 0px;
	border-radius:10px;
	background-color: gray;
	color:#fff;
	text-align: center;
}

.boxcontainer{
	background-color: gray;
	border-radius:30px;
	min-height:190px;
	overflow:auto;
	display: none;
	margin:auto;
}

.mybox{
	background-color: gray;
	width: 175px;	
	float: left;
	margin:15px;
	height:85px;	
	overflow:auto;
	z-index: 1;
}

.mybox .myboxhead{
	padding:5px;
	font-size: 16px;
	border:1px solid #fff;
	background-color: #444;
	color : #fff;
	height:22px;
	overflow: hidden;
	cursor: pointer;
}

.mybox .myboxnote{
	padding:3px 0px 3px 0px;
	font-size: 13px;	
	border:1px solid #fff;
	background-color: #9bbb59;	
	cursor: pointer;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.mybox .myboxhead1{
	padding:5px;
	font-size: 16px;	
	border:1px solid #fff;
	background-color: #444;
	color : #fff;	
	height:22px;
	overflow: hidden;
}

.mybox .myboxnote1{
	padding:3px 0px 3px 0px;
	font-size: 13px;	
	border:1px solid #fff;
	background-color: #9bbb59;
}

.pollbox{
	background-color: gray;
	width: 300px;	
	float: left;
	margin:15px;
	height:160px;	
	overflow:auto;
	cursor: pointer;
}

.pollbox .pollboxhead{
	padding:5px;
	font-size: 16px;	
	border:1px solid #fff;
	background-color: #444;
	color : #fff;
	height:34px;
	overflow: hidden;	
}

.pollbox .pollboxnote{
	padding:3px 0px 3px 60px;
	font-size: 13px;	
	border:1px solid #fff;
	background-color: #9bbb59;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.downarrow_div{	
	width: 120px;
	margin-left: 10px;	
	float: left;
}

.downarrow{
	width:40px;
	height: 40px;
	padding-left:40px;
}

.dashboard_icon{	
	float:right; 
	margin:30px 5px 30px 5px; 
	cursor: pointer;
}

.studprogbar{
	position:absolute;
	z-index: 100;
	width: 130px;
	margin-top: 5px;
	margin-left:0px;
	height: 8px;
	background: #fff;
}
.insidebar{
	position:absolute;
	height:8px;
	background: #444;
}
.attemptedquiz{
	position:absolute;
	z-index: 100;
	width: 45px;
	margin-top:3px;
	margin-left:135px;
	height: 10px;
	font-size:10px;
	float: left;
}

#ccomparetable td{
	padding: 5px;
	font-size: 12px;
}

#highlight,.highlight {
	background-color: #00FF00;
	color : #00FF00;
	font-weight: bold;
}