.ui-Mainbody{
	position:relative;
	text-align:center;
	font-size:14px;
	width:100%;
	margin:auto;
	margin-top:10px;
	min-width:70%;
	/*background: #E6E7E8 url();*/


}
.table1{
	
	width:1040px;

	/*background-color: #404040;
	margin: -5% 0 0 -5%;*/
	margin:auto;
	margin-top:-12px;
	border-radius:10px;
	
	
}
.table{
	
	width:1040px;

	background-color: #404040;
	/*margin: -5% 0 0 -5%;*/
	margin:auto;
	margin-top:-12px;
	border-radius:10px;
	
	
}
.table2{
	
	width:1px;

	background-color: #404040;
	border-radius:10px;
	
}
.addquestion-subpt{
	
	width:1040px;

    /*background-color: #404040;
	/*margin: -5% 0 0 -5%;*/
	margin:auto;
	margin-top:8px;
	border-radius:10px;
	
	
}
.ui-header-text{
	
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    color: #e46c0a;
    font-size:13px;
   
   
}
.ui-conductquiz-button{
	
	background:#9bbb59;
	color: #ffffff;
	margin-right:10px;
	border-radius:8px;
	/*min-width:0.6in; 
	min-height:0.4in;*/
	margin-top:15px;
}

.ui-sub-header-text{
	
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    color: #404040;
    font-size:13px;
   
   
}
.form-4 textarea[type=text],
.form-4 input[type=datetime],
.form-4 input[type=text]{
    /* Size and position */
    width: 180px;
    margin:3px 0 0 0px;
    padding: 10px 4px 8px 2px;
    margin-bottom: 6px;
  
    

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.2);
    background: rgba(0,0,0,0.15);
    border-radius: 5px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #404040;
    font-size: 14px;
}



.form-4 textarea[type=text]:hover,
.form-4 input[type=datetime]:hover,
.form-4 input[type=text]:hover{
    border-color: #C0C0C0;
}

.form-4 textarea[type=text]:focus,
.form-4 input[type=datetime]:focus,
.form-4 input[type=text]:focus{
    box-shadow: 
        0 2px 0 rgba(255,255,255,0.2), 
        inset 0 10px 10px rgba(0,0,0,0.1),
        0 0 0 5px rgba(255,255,255,0.15);
    
}

/* Fallback */
.no-boxshadow .form-4 textarea[type=text]:focus,
.no-boxshadow .form-4 input[type=datetime]:focus,
.no-boxshadow .form-4 input[type=text]:focus{
    outline: 1px solid white;
}

.form-4 input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
text-align:center;
}





.close-btn {
    border: 2px solid #c2c2c2;
    position: relative;
    padding: 1px 5px;
    top: 2px;
    background-color: #404040;
    left: 2px;
    border-radius: 20px;
}

.close-btn a {
    font-size: 15px;
    font-weight: normal;
    color: white;
    text-decoration: none;
}



.ui-add-button{
	
	background:#404040;
	color: #ffffff;
	margin-right:10px;
	border-radius:8px;
	/*min-width:0.6in; 
	min-height:0.4in;*/
	width:40px;
	height:40px	;
	margin-top:15px;
	

}




/* box shadow*/
body, .box:after{
    background:#E6E7E8;
}
 
.box, .content{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
.box {
    background: white;
    position:relative;
    width: 1040px;
    height:450px;
    padding:15px;
    margin: 0 auto;
    margin-top: 0px;
}
 
.content{
    background:purple;
    width:100%;
    height:100%;
}
 
.shadow:before, .box:after{
    content: '';   
    position: absolute;
}
 
.shadow:before{
    background: #BEBEC0;
    height: 15px;
    width: 96%;
    bottom: -15px;
    left: 2%;
}
 
.shadow:after{
    -moz-border-radius: 150% / 20px;
    -webkit-border-radius: 150% / 20px;
    border-radius: 150% / 20px;
    width: 100%;
    height: 20px;
    bottom: -22px;
    left: 0;
    z-index: 1;
}

/*this class is used for questionbank.jsp_>Options*/
.questions
{
	width: 400px; height: 210px;
	border-left: thin solid #9bbb59;
	border-top: thin solid #9bbb59;
	border-right: thin solid #9bbb59;
	border-bottom: thin solid #9bbb59;
	float: left;
}

���
#frame{height: 0px;width: 0px;}